name: Deploy Dezswap Indexer

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    with:
      app_type: indexer
      path_exclude_prefix: api
    secrets:
      # AWS
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_ROLE_SESSION_NAME: dezswap-api-indexer-build
      ECR_REPOSITORY: dezswap-indexer
      # GCP
      GCP_GAR_REPOSITORY: ${{ vars.GCP_GAR_REPOSITORY }}
      GCP_REGION: ${{ vars.GCP_REGION }}
      GCP_WORKLOAD_IDENTITY_PROVIDER: ${{ secrets.GCP_WORKLOAD_IDENTITY_PROVIDER }}
      GCP_SERVICE_ACCOUNT_EMAIL: ${{ secrets.GCP_SERVICE_ACCOUNT_EMAIL }}

  deploy:
    uses: ./.github/workflows/deploy.yml
    needs: publish
    with:
      # use api-indexer for compatability with existing services
      app_type: api-indexer
      image_tag: ${{ needs.publish.outputs.image_tag }}
    secrets:
      AWS_REGION: ${{ secrets.AWS_REGION }}
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
      AWS_ROLE_SESSION_NAME: dezswap-api-indexer-deploy
      ECR_REPOSITORY: dezswap-indexer
      ECS_CLUSTER: dezswap-api
